<div class="loading-circle">
    <div class="loading-circle-track"></div>
    <div class="loading-circle-fills">
    <div class="loading-circle-fill-mask1">
        <div class="loading-circle-fill-submask1">
        <div class="loading-circle-fill"></div>
        </div>
    </div>
    <div class="loading-circle-fill-mask2">
        <div class="loading-circle-fill-submask2">
        <div class="loading-circle-fill"></div>
        </div>
    </div>
    </div>
</div>
<div class="loading-circle-label">読み込み中</div>