<div class="header">
    <div class="logo">
    <a href="/"><img src="dummy-logo.png"></a>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="">リンク項目</a></li>
            <li><a href="">リンク項目</a></li>
            <li><a href="">リンク項目</a></li>
            <li><a href="">リンク項目</a></li>
            <li><a href="">リンク項目</a></li>
            <li><a href="" class="primary">リンク項目</a></li>
        </ul>
    </nav>
    <div class="drawer-open-menu">
        <button id="drawer-open-button"><img src="/assets/svg/icon-menu.svg" alt=""></button>
    </div>
</div>